// Media Queries
$mq-375-down: "only screen and (max-width: 375px)";
$mq-375-up: "only screen and (min-width: 375px)";

$mq-450-down: "only screen and (max-width: 449px)";
$mq-450-up: "only screen and (min-width: 450px)";

$mq-620-down: "only screen and (max-width: 619px)";
$mq-620-up: "only screen and (min-width: 620px)";

$mq-760-down: "only screen and (max-width: 759px)";
$mq-760-up: "only screen and (min-width: 760px)";

$mq-1000-up: "only screen and (min-width: 1000px)";

$mq-1350-up: "only screen and (min-width: 1350px)";

$mq-1440-up: "only screen and (min-width: 1440px)";